### 9. Limpieza de texto

Limpiar una columna de texto generalmente también implica uniformizar todos sus caracteres. Considerar, por lo menos las siguientes acciones:

- Reemplazo de ciertos valores por NaN
- Transformación de mayúsculas a minusculas y viceversa
- Remoción de espacios innecesarios
- Eliminar tildes

##### Librerías

In [66]:
import pandas as pd
import numpy as np

##### Carga de datos
Combinaremos todas las operaciones en una sola función

In [92]:
# Función de limpieza de texto
def clean_text(var):
    var = ( var
            .str.upper()
            .str.replace( r'\s+', ' ', regex = True ).str.strip()
            .replace( ' ', np.NaN )
            .replace( {'Á':'A','É':'E','Í':'I','Ó':'O','Ú':'U'}, regex = True )
           ) 
    return var

# Carga de datos
data = pd.read_csv( filepath_or_buffer = 'Hotel_Reviews.csv', sep = ',', usecols = [0,1,3] )

# Seleccionar las columnas de texto (object)
selected_cols = data.select_dtypes(include=['object']).columns

# Aplicar la función de limpieza a las columnas seleccionadas
data[selected_cols] = data.select_dtypes(include=['object']).apply(clean_text)

print(selected_cols.values)
data.head()

['Hotel_Address']

,Hotel_Address,Additional_Number_of_Scoring,Average_Score
0,S GRAVESANDESTRAAT 55 OOST 1092 AA AMSTERDAM N...,194,7.7
1,S GRAVESANDESTRAAT 55 OOST 1092 AA AMSTERDAM N...,194,7.7
2,S GRAVESANDESTRAAT 55 OOST 1092 AA AMSTERDAM N...,194,7.7
3,S GRAVESANDESTRAAT 55 OOST 1092 AA AMSTERDAM N...,194,7.7
4,S GRAVESANDESTRAAT 55 OOST 1092 AA AMSTERDAM N...,194,7.7